@page
@model WebApplication3.Pages.MangerModel

<!DOCTYPE html>
<head>
    <link rel="stylesheet" href="~/css/maneger.css" />

</head>


<body>
    <div id="wrapper">

        <div id="sidebar-wrapper">
            <ul class="sidebar-nav nav-pills nav-stacked" id="menu">
                <li class="active">
                    <a asp-page="/Items">Menu </a>
                </li>
                <li>
                    <a asp-page="/DeliveryWorkers">Workers</a>
                </li>
                <li>
                    <a asp-page="#">Orders</a>
                </li>
                <li>
                    <a asp-page="#">Customers</a>
                </li>
                <li>
                    <a asp-page="#">Supliers</a>
                </li>
                <li>
                    <a asp-page="/Discount">Promo Codes</a>
                </li>
                <li>
                    <a asp-page="#">Contact</a>
                </li>
            </ul>
        </div>


    </div>
</body>
