@page
@model WebApplication3.Pages.MangerModel

<!DOCTYPE html>
<head>
    <link rel="stylesheet" href="~/css/maneger.css" />

</head>


<body>
    <div id="wrapper">

        <div id="sidebar-wrapper">
            <ul class="sidebar-nav nav-pills nav-stacked" id="menu">
                <li class="active">
                    <a href="#">Menu </a>
                </li>
                <li>
                    <a href="#">Workers</a>
                </li>
                <li>
                    <a href="#">Orders</a>
                </li>
                <li>
                    <a href="#">Customers</a>
                </li>
                <li>
                    <a href="#">Supliers</a>
                </li>
                <li>
                    <a href="#">Promo Codes</a>
                </li>
                <li>
                    <a href="#">Contact</a>
                </li>
            </ul>
        </div>


    </div>
    <script src="/js/jquery-3.4.1.min.js"></script>
    <script src="/js/bootstrap.js"></script>
</body>























@* <!DOCTYPE html>
<html lang="en">
<head>
    <link rel="stylesheet" href="~/css/maneger.css" />
    <link href='https://unpkg.com/boxicons@2.1.4/css/boxicons.min.css' rel='stylesheet'>


</head>
<body>
    <nav class="sidebar">
        <header>
            <div class="image-text">
                <span class="image">
                    <img src="~/css/logo.png" alt="logo">
                </span>
                <div class="text header-text">
                    <span class="name">Maneger</span>
                    <span class="profession">Settings</span>
                </div>
            </div>



            <i class='toggle'><box-icon name='chevron-right' color='#ffffff'></box-icon></i>
        </header>
        <div class="menu-bar">
            <div class="menu">

                <ul class="menu-links">
                    <li class="nav-link">
                        <a href="#">
                            <i class='bx bxs-home icon' style='color:#ffffff'></i>
                            <span class="text text-dark">Reports</span>
                        </a>
                    </li>
                    <li class="nav-link">
                        <a href="#">
                            <i class='bx bxs-home icon' style='color:#ffffff'></i>
                            <span class="text text-dark">Reports</span>
                        </a>
                    </li>
                    <li class="nav-link">
                        <a href="#">
                            <i class='bx bxs-home icon' style='color:#ffffff'></i>
                            <span class="text text-dark">Reports</span>
                        </a>
                    </li>
                    <li class="nav-link">
                        <a href="#">
                            <i class='bx bxs-home icon' style='color:#ffffff'></i>
                            <span class="text text-dark">Reports</span>
                        </a>
                    </li>

                </ul>
            </div>
        </div>
    
    
    
    
    
    
    
    
    
    
    
    
    
    </nav>


</body>
</html>
 *@