.login-body {
    background: url('../css/bg2.jpg');
    background-size: cover;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    margin: 0;
}

.column-wrapper {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
}

.wrapper {
    position: relative;
    border-radius: 20px;
    align-items: center;
    justify-content: center;
    backdrop-filter: blur(25px);
    display: flex;
    flex-direction: column;
    width: 400px;
    height: 480px;
    margin: 100px;
    box-shadow: 0 0 30px rgba(0, 0, 0, 0.5);
    border: 2px solid rgba(255, 255, 255, 2);
    transition: height 0.3s ease;
    overflow: hidden;
}

    .wrapper.active {
        height: 650px;
        width: 450px;
    }

    .wrapper .login-container {
        transition: 0.2s ease;
        transform: translateX(0);
    }

    .wrapper.active .login-container {
        transition: none;
        transform: translateX(-400px);
    }

    .wrapper .register-container {
        position: absolute;
        transform: translateX(400px);
    }

    .wrapper.active .register-container {
        transition: none;
        transition: 0.2s ease;
        transform: translateX(0);
    }

    .wrapper .login-container {
        height: 100%;
        padding: 40px;
    }

.login-container h2 {
    font-size: 4em;
    font-weight: bold;
    color: #691e06;
    text-align: center;
}

.register-container h2 {
    font-size: 4em;
    font-weight: bold;
    color: #691e06;
    text-align: center;
}

.input-box {
    position: relative;
    width: 100%;
    height: 50px;
    border-bottom: 2px solid #bb4d00;
    margin: 30px 0;
}

    .input-box .name-fields {
        display: flex;
        width: 100%;
    }



    .name-field input {
        width: 100%;
    }
.name-field {
    flex: 1;
    margin-right: 10px;
    position: relative;
}

    .name-field input {
        width: 100%;
    }
.name-fields{
    position :absolute;
}
.name-fieldsinput:focus ~ label, .input-box input:valid ~ label {
    top: -14px;
}
.name-fields {
    padding: 10px;
}
.input-box label {
    position: absolute;
    top: 50%;
    left: 5px;
    transform: translateY(-50%);
    font-size: 1em;
    color: #0b6e4f;
    font-weight: 600;
    pointer-events: none;
    transition: 0.5s;
}

.input-box input {
    width: 100%;
    height: 100%;
    background: transparent;
    border: none;
    outline: none;
    color: #f3e9dc;
    font-weight: 600;
    padding: 0 35px 0 5px;
}

.input-box .icon {
    position: absolute;
    right: 8px;
    font-size: 1.2em;
    color: #691e06;
    line-height: 57px;
}

.input-box input:focus ~ label,
.input-box input:valid ~ label {
    top: -5px;
}

form {
    max-width: 100%;
}


.form-group {
    position: relative;
    margin-bottom: 15px;
}

    .form-group input {
        width: 100%;
        padding: 10px;
        border: none;
        border-bottom: 2px solid #333;
        transition: border-bottom 0.3s ease;
    }

        .form-group input:focus {
            outline: none;
            border-bottom: 2px solid #bb4d00;
        }

.navbar {
    position: absolute;
    width: 100%;
    top: 0;
    color: bisque;
}

    .navbar a:hover {
        color: rgba(0, 0, 0, 0.5);
    }

    .navbar a {
        position: relative;
        display: inline-block;
    }

    .navbar.login-page {
        background-color: #c08552;
    }


    .navbar a::after {
        content: '';
        position: absolute;
        width: 100%;
        height: 3px;
        border-radius: 5px;
        background: rgba(0, 0, 0, 0.5);
        left: 0;
        bottom: -5px;
        transform: scaleX(0);
        transform-origin: right;
        transition: transform 0.5s;
    }

    .navbar a:hover::after {
        transform: scaleX(1);
        color: rgba(0, 0, 0, 0.5);
    }

.navbar-nav .login-item {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 100%;
    height: 50px;
    background: transparent;
    border: 2px solid rgba(251, 186, 114, 0.8);
    outline: none;
    border-radius: 6px;
    cursor: pointer;
    font-size: 1.1em;
    font-weight: bold;
}

.navbar .login-item:hover {
    background: #ca5310;
    color: #bb4d00;
}

.transparent-navbar {
    background-color: #dd0426 !important;
    box-shadow: none !important;
}

.remember-forgot {
    font-size: 0.9em;
    color: #0b6e4f !important;
    margin: 8px 0 15px;
    display: flex;
    justify-content: space-between;
    font-weight: 500;
}

    .remember-forgot label input {
        accent-color: #162938;
        margin-right: 3px !important;
    }

    .remember-forgot a {
        color: #0b6e4f;
        text-decoration: none;
    }

    .remember-forgot p a {
        color: #0b6e4f !important;
        text-decoration: none;
        font-weight: 600;
    }

    .remember-forgot a:hover {
        text-decoration: underline;
    }

.login-register {
    font-size: 0.9em;
    color: #0b6e4f !important;
    text-align: center;
    font-weight: 500;
    margin: 25px 0 10px;
}

    .login-register p a {
        color: #0b6e4f !important;
        text-decoration: none;
        font-weight: 600;
    }

        .login-register p a:hover {
            text-decoration: underline;
        }

.btn {
    width: 100%;
    height: 45px;
    background: #002400;
    border: none;
    outline: none;
    border-radius: 6px;
    cursor: pointer;
    font-size: 1em;
    color: #bb4d00;
}
